In [15]:
import pandas as pd
import numpy as np
from datetime import datetime 

fs = pd.read_csv('flights_sample_3m.csv')

In [16]:
# Assuming 'fs' is your DataFrame
# Create a mask to filter rows where at least one of the columns has a nonzero and non-null value
mask = (
    (fs['DELAY_DUE_CARRIER'].notnull() & fs['DELAY_DUE_CARRIER'] != 0) | 
    (fs['DELAY_DUE_WEATHER'].notnull() & fs['DELAY_DUE_WEATHER'] != 0)
)

# Add additional conditions to ensure 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY', and 'DELAY_DUE_LATE_AIRCRAFT' are either 0 or null
mask &= (
    (fs['DELAY_DUE_NAS'].isnull() | (fs['DELAY_DUE_NAS'] == 0)) &
    (fs['DELAY_DUE_SECURITY'].isnull() | (fs['DELAY_DUE_SECURITY'] == 0)) &
    (fs['DELAY_DUE_LATE_AIRCRAFT'].isnull() | (fs['DELAY_DUE_LATE_AIRCRAFT'] == 0))
)

# Apply the mask to filter the DataFrame
fs = fs[mask]

fs.head(20)

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
5,2019-07-31,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,665,DAL,"Dallas, TX",OKC,"Oklahoma City, OK",...,0,60.0,54.0,36.0,181,141.0,0.0,0.0,0.0,0.0
10,2021-06-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2820,ATL,"Atlanta, GA",BDL,"Hartford, CT",...,0,142.0,133.0,115.0,859,60.0,0.0,0.0,0.0,0.0
37,2019-07-18,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,992,IND,"Indianapolis, IN",TPA,"Tampa, FL",...,0,135.0,113.0,104.0,837,57.0,0.0,0.0,0.0,0.0
62,2019-02-27,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,760,MDW,"Chicago, IL",MHT,"Manchester, NH",...,0,125.0,113.0,94.0,838,31.0,0.0,0.0,0.0,0.0
97,2019-12-01,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1950,MCO,"Orlando, FL",LGA,"New York, NY",...,0,155.0,152.0,120.0,950,20.0,0.0,0.0,0.0,0.0
125,2022-07-09,JetBlue Airways,JetBlue Airways: B6,B6,20409,1447,HPN,"White Plains, NY",TPA,"Tampa, FL",...,0,181.0,180.0,147.0,1032,110.0,0.0,0.0,0.0,0.0
128,2023-06-19,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,323,EWR,"Newark, NJ",ORD,"Chicago, IL",...,0,154.0,136.0,107.0,719,22.0,0.0,0.0,0.0,0.0
158,2021-11-19,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,3080,BNA,"Nashville, TN",MDW,"Chicago, IL",...,0,95.0,81.0,64.0,395,78.0,0.0,0.0,0.0,0.0
208,2021-01-02,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,1099,DEN,"Denver, CO",FLL,"Fort Lauderdale, FL",...,0,225.0,218.0,202.0,1703,35.0,0.0,0.0,0.0,0.0
217,2019-09-14,Alaska Airlines Inc.,Alaska Airlines Inc.: AS,AS,19930,500,SEA,"Seattle, WA",IND,"Indianapolis, IN",...,0,255.0,240.0,205.0,1866,16.0,0.0,0.0,0.0,0.0
220,2023-07-03,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,356,MCO,"Orlando, FL",IAH,"Houston, TX",...,0,148.0,140.0,116.0,854,38.0,0.0,0.0,0.0,0.0
239,2022-05-18,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1615,RDU,"Raleigh/Durham, NC",ATL,"Atlanta, GA",...,0,90.0,83.0,57.0,356,30.0,0.0,0.0,0.0,0.0
269,2021-06-03,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,OO,20304,5141,DEN,"Denver, CO",SGU,"St. George, UT",...,0,96.0,102.0,75.0,517,110.0,0.0,0.0,0.0,0.0
320,2023-03-04,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,540,BOS,"Boston, MA",ATL,"Atlanta, GA",...,0,188.0,165.0,146.0,946,0.0,39.0,0.0,0.0,0.0
321,2021-04-12,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,985,DCA,"Washington, DC",JFK,"New York, NY",...,0,93.0,83.0,42.0,213,24.0,0.0,0.0,0.0,0.0
323,2019-11-29,Mesa Airlines Inc.,Mesa Airlines Inc.: YV,YV,20378,6096,IAH,"Houston, TX",OKC,"Oklahoma City, OK",...,0,95.0,103.0,70.0,395,17.0,0.0,0.0,0.0,0.0
362,2023-01-11,Hawaiian Airlines Inc.,Hawaiian Airlines Inc.: HA,HA,19690,45,SJC,"San Jose, CA",OGG,"Kahului, HI",...,0,340.0,372.0,344.0,2355,32.0,14.0,0.0,0.0,0.0
364,2021-10-05,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2510,ATL,"Atlanta, GA",IND,"Indianapolis, IN",...,0,86.0,85.0,72.0,432,0.0,104.0,0.0,0.0,0.0
381,2022-12-23,Horizon Air,Horizon Air: QX,QX,19687,2405,ANC,"Anchorage, AK",FAI,"Fairbanks, AK",...,0,69.0,68.0,51.0,261,0.0,19.0,0.0,0.0,0.0
386,2021-10-10,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,OO,20304,3619,ORD,"Chicago, IL",DTW,"Detroit, MI",...,0,77.0,71.0,45.0,235,0.0,39.0,0.0,0.0,0.0

In [17]:
columns_to_keep = [
    'FL_DATE', 'DOT_CODE',
    'FL_NUMBER', 'ORIGIN', 'DEST', 'CRS_DEP_TIME',
    'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'CRS_ARR_TIME',
    'ARR_DELAY', 'CRS_ELAPSED_TIME', 'DISTANCE'
]

# Select only the columns you want to keep
fs = fs.loc[:, columns_to_keep]
fs.head(10)

,FL_DATE,DOT_CODE,FL_NUMBER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,DISTANCE
5,2019-07-31,19393,665,DAL,OKC,1010,1237.0,147.0,15.0,1252.0,1110,141.0,60.0,181
10,2021-06-11,19790,2820,ATL,BDL,1850,1959.0,69.0,14.0,2013.0,2112,60.0,142.0,859
37,2019-07-18,19393,992,IND,TPA,2135,2254.0,79.0,6.0,2300.0,2350,57.0,135.0,837
62,2019-02-27,19393,760,MDW,MHT,2120,2203.0,43.0,15.0,2218.0,25,31.0,125.0,838
97,2019-12-01,19790,1950,MCO,LGA,800,823.0,23.0,25.0,848.0,1035,20.0,155.0,950
125,2022-07-09,20409,1447,HPN,TPA,1730,1921.0,111.0,26.0,1947.0,2031,110.0,181.0,1032
128,2023-06-19,19977,323,EWR,ORD,1304,1344.0,40.0,16.0,1400.0,1438,22.0,154.0,719
158,2021-11-19,19393,3080,BNA,MDW,1850,2022.0,92.0,11.0,2033.0,2025,78.0,95.0,395
208,2021-01-02,19393,1099,DEN,FLL,1345,1427.0,42.0,14.0,1441.0,1930,35.0,225.0,1703
217,2019-09-14,19930,500,SEA,IND,1000,1031.0,31.0,31.0,1102.0,1715,16.0,255.0,1866

In [18]:
import pandas as pd

# Check if the 'ORIGIN' and 'DEST' columns exist in the DataFrame 'fs'
if 'ORIGIN' in fs.columns and 'DEST' in fs.columns:
    # Perform nominal encoding
    origin_dummies = pd.get_dummies(fs['ORIGIN'], prefix='ORIGIN')
    dest_dummies = pd.get_dummies(fs['DEST'], prefix='DEST')

    # Concatenate the dummy variables with the original DataFrame
    fs = pd.concat([fs, origin_dummies, dest_dummies], axis=1)

    # Drop the original 'ORIGIN' and 'DEST' columns if you no longer need them
    fs.drop(columns=['ORIGIN', 'DEST'], inplace=True)
else:
    print("One or both of the columns 'ORIGIN' and 'DEST' are not present in the DataFrame 'fs'.")

fs.head(20)

,FL_DATE,DOT_CODE,FL_NUMBER,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,CRS_ARR_TIME,ARR_DELAY,...,DEST_VEL,DEST_VLD,DEST_VPS,DEST_WRG,DEST_WYS,DEST_XNA,DEST_XWA,DEST_YAK,DEST_YKM,DEST_YUM
5,2019-07-31,19393,665,1010,1237.0,147.0,15.0,1252.0,1110,141.0,...,0,0,0,0,0,0,0,0,0,0
10,2021-06-11,19790,2820,1850,1959.0,69.0,14.0,2013.0,2112,60.0,...,0,0,0,0,0,0,0,0,0,0
37,2019-07-18,19393,992,2135,2254.0,79.0,6.0,2300.0,2350,57.0,...,0,0,0,0,0,0,0,0,0,0
62,2019-02-27,19393,760,2120,2203.0,43.0,15.0,2218.0,25,31.0,...,0,0,0,0,0,0,0,0,0,0
97,2019-12-01,19790,1950,800,823.0,23.0,25.0,848.0,1035,20.0,...,0,0,0,0,0,0,0,0,0,0
125,2022-07-09,20409,1447,1730,1921.0,111.0,26.0,1947.0,2031,110.0,...,0,0,0,0,0,0,0,0,0,0
128,2023-06-19,19977,323,1304,1344.0,40.0,16.0,1400.0,1438,22.0,...,0,0,0,0,0,0,0,0,0,0
158,2021-11-19,19393,3080,1850,2022.0,92.0,11.0,2033.0,2025,78.0,...,0,0,0,0,0,0,0,0,0,0
208,2021-01-02,19393,1099,1345,1427.0,42.0,14.0,1441.0,1930,35.0,...,0,0,0,0,0,0,0,0,0,0
217,2019-09-14,19930,500,1000,1031.0,31.0,31.0,1102.0,1715,16.0,...,0,0,0,0,0,0,0,0,0,0
220,2023-07-03,20416,356,1702,1748.0,46.0,13.0,1801.0,1830,38.0,...,0,0,0,0,0,0,0,0,0,0
239,2022-05-18,19790,1615,825,902.0,37.0,20.0,922.0,955,30.0,...,0,0,0,0,0,0,0,0,0,0
269,2021-06-03,20304,5141,1612,1756.0,104.0,23.0,1819.0,1748,110.0,...,0,0,0,0,0,0,0,0,0,0
320,2023-03-04,19790,540,815,917.0,62.0,13.0,930.0,1123,39.0,...,0,0,0,0,0,0,0,0,0,0
321,2021-04-12,19790,985,1712,1746.0,34.0,9.0,1755.0,1845,24.0,...,0,0,0,0,0,0,0,0,0,0
323,2019-11-29,20378,6096,1805,1814.0,9.0,30.0,1844.0,1940,17.0,...,0,0,0,0,0,0,0,0,0,0
362,2023-01-11,19690,45,840,854.0,14.0,10.0,904.0,1220,46.0,...,0,0,0,0,0,0,0,0,0,0
364,2021-10-05,19790,2510,1724,1909.0,105.0,8.0,1917.0,1850,104.0,...,0,0,0,0,0,0,0,0,0,0
381,2022-12-23,19687,2405,600,620.0,20.0,15.0,635.0,709,19.0,...,0,0,0,0,0,0,0,0,0,0
386,2021-10-10,20304,3619,1425,1510.0,45.0,17.0,1527.0,1642,39.0,...,0,0,0,0,0,0,0,0,0,0